.h1-1{
    color: red;
    background-color: bisque;
}

.h1-2{
    color: blue;
    background-color: bisque;
}

.h1-3{
    color: green;
    background-color: bisque;
}

.h1-4{
    color: gray;
    background-color: bisque;
}

.h1-5{
    color: yellow;
    background-color: bisque;
}

.h1-6{
    color: yellow;
    background-color: orchid;
}